{% extends "base.html" %}

{% block title %}
Eliminar post | Fluxoria
{% endblock %}

{% block content %}
<div class="post-outer-box">
    <div class="post-inner-box">
        <section class="delete-confirm">
        
            <h1>Eliminar post</h1>
        
            <p>
                ¿Estás seguro de que querés eliminar<br>
                <strong>{{ post.title }}</strong>?
            </p>
        
            <form method="post">
                {% csrf_token %}
                
                <div class="post-btn-box">
                    <button type="submit" class="btn-danger">
                        Sí, eliminar
                    </button>
                </div>
                <div class="post-btn-box-fake">
                    <a href="{% url 'posts:detail' post.slug %}" class="post-btn-secondary">
                        Cancelar
                    </a>
                </div>
            </form>
        
        </section>
    </div>
</div>
{% endblock %}
