/* =========================
   FEED
   ========================= */

.feed {
    display: flex;
    flex-direction: column;
    background-color: var(--color-feed);
    border: var(--border-width-lg) var(--border-style) var(--border-color-strong);
    margin-left: 22px;
    height: 100%;
    box-shadow: var(--feed-shadow-3d);
}

.feed h1 {
    color: var(--color-surface-dark);
    margin-left: 1rem;
    align-self: center;
    font-family: var(--font-brand);
}

.feed-nav {
    display: flex;
    gap: 1rem;
    padding-top: 0.33rem;
    padding-bottom: 0.33rem;
    justify-content: space-around;
    align-items: center;
}

.feed-search {
    flex: 25% 0 0;
    display: flex;
}

.feed-search input {
    width: 100%;
    padding: 0.4rem 0.75rem;

    font-family: var(--font-brand);
    font-size: 0.85rem;

    color: var(--color-surface-dark);
    background-color: var(--color-3d-main);

    border: var(--border-width-sm) var(--border-style) var(--border-color-soft);
    border-radius: var(--radius-lg);

    outline: none;
}

.feed-search input::placeholder {
    opacity: 0.75;
    font-size: 0.7rem;
}

.feed-search input:focus {
    background-color: var(--color-3d-main-hover);
    box-shadow: 0 0 24px var(--color-font-title);
}

.feed-nav-categories {
    display: flex;
    gap: 1rem;
    flex: 1; /* ocupa todo lo que no usa el buscador */
    justify-content: space-around;
    align-items: center;
}

.feed-nav-categories a {
    padding: 0.25rem 0.75rem;
    text-decoration: none;
    color: var(--color-surface-dark);
    font-family: var(--font-brand);
    font-size: 0.9rem;
}

.feed-nav-categories a:hover {
    transform: translateY(-2px);
    background-color: var(--color-3d-main-hover);
    border-radius: var(--radius-lg);
}

.feed-nav-category.is-active {
    background-color: var(--color-3d-main-hover);
    border-radius: var(--radius-lg);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
    font-weight: 700;
}

.feed-posts {
    display: flex;
    flex-direction: column;
}

.post {
    width: 100%;
    height: 128px + 16px; /* +16 porque solo 128 resta 16px (padding) */
    background: var(--color-3d-main-hover);
    border-radius: var(--radius-md);
    border-top: var(--border-width-md) var(--border-style) var(--border-color-strong);
    border-bottom: var(--border-width-md) var(--border-style) var(--border-color-strong);
}

.post-link {
    display: flex;
    gap: 1rem;
    height: 100%;
    align-items: stretch;
    padding: 1rem;
}

.thumbnail-box {
    flex: 0 0 128px;
    height: 128px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.post-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    min-width: 0;
}

.post-title {
    height: fit-content;
    font-size: 1.25rem;
}

.post:hover .post-title {
    transform: translateY(-2px);
    text-shadow: var(--text-shadow-hover-actions);
}

.post a {
    color: var(--color-surface-dark);
    text-decoration: none;
    font-family: var(--font-brand);
}

.post-preview {
    color: var(--color-surface-dark);
    margin: 0;
    opacity: 75%;
    font-size: 0.9rem;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;

}

.feed-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: var(--radius-lg);
    border: var(--border-width-sm) var(--border-style) var(--border-color-strong);

    background-color: var(--color-3d-main-hover);
}

.feed-thumbnail-empty {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.feed-thumbnail-empty img {
    width: 92.5%;
    height: 85%;
    object-fit: cover;

    border-radius: var(--radius-lg);

    background-color: var(--color-3d-main-hover);
}

.empty-feed-notification {
    color: var(--color-surface-dark);
    margin: 3.5rem auto;
    font-size: 1.5rem;
    font-weight: 700;
}