.post-detail {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 1rem;
    font-family: var(--font-ui);
}

.post-detail header h1 {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
    color: var(--color-surface-dark);
    justify-self: center;
}

.post-thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 2rem;
}

.post-content {
    font-size: 1.05rem;
    line-height: 1.7;
    color: var(--color-surface-dark);
}





.post-outer-box {
    justify-self: center;
    outline: var(--border-width-md) var(--border-style) var(--border-color-strong);
    border-radius: var(--radius-sm);
    color: var(--color-surface-dark);
    font-family: var(--font-ui);
    box-shadow: inset 0px 0px 0px 16px var(--color-inset-login-soft);
}

.post-inner-box {
    box-shadow: inset 0px 0px 0px 10px var(--color-inset-login-dark);
    padding: 2rem 5rem 4rem;
}

.post-outer-box h1 {
    margin-bottom: 2rem;
    justify-self: center;
}

.post-outer-box input,
.post-outer-box textarea,
.post-outer-box select,
.file-input {
    margin: auto;
    width: 100%;
    padding: 0.33rem;
}

.form-field {
    margin: 1rem 0;
}

.post-btn-box {
    justify-self: center;
}

.post-btn-box button{
    padding: 1rem 5rem;
    cursor: pointer;
}

.post-btn-box-fake {
    margin-top: 1.5rem;
    justify-self: center;
}

.post-btn-secondary {
    text-decoration: none;
    color: var(--color-surface-dark);
}
