<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% load static %}

<title>{% block title %}Fluxoria{% endblock %}</title>
<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

<meta name="description"
        content="{% block meta_description %}Plataforma creativa y experimental{% endblock %}">

{% block extra_meta %}
{% endblock %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">


</head>
<body class="{% if user.is_authenticated %}auth{% else %}guest{% endif %}">


{% include 'components/header.html' %}


<main class="site-main">
{% block content %}{% endblock %}
</main>


{% include 'components/footer.html' %}


</body>
</html>